  <!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Person Details</title>
  </head>
  <body>
  <h1>Person Details</h1>
  <p>Name: <span th:text="${person.fullName}">Full Name</span></p>
  <p>Year of Birth: <span th:text="${person.yearOfBirth}">Year of Birth</span></p>

  <h2>Books:</h2>
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
      <td th:text="${book.name}">Title</td>
      <td th:text="${book.author}">Author</td>
      <td th:text="${book.year}">Year</td>
    </tr>
    </tbody>
  </table>
  </body>
  </html>
