<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>

<h1>Edit Book</h1>

<form th:action="@{/book/{id}(id=${book.id})}" th:object="${book}" method="post">
    <input type="hidden" name="_method" value="patch"/>

    <label for="name">Book Name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Book Name Error</div>
    <br/>

    <label for="author">Author:</label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Name Error</div>
    <br/>

    <label for="year">Year of Publication:</label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year of Publication Error</div>
    <br/>

    <input type="submit" value="Update"/>
</form>

<a th:href="@{/book/{id}(id=${book.id})}">Back to Book Details</a>

</body>
</html>
