<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>New Book</title>
</head>
<body>

<form th:action="@{/book}" th:object="${book}" method="post">
  <label for="name">Enter Book Name: </label>
  <input type="text" th:field="*{name}" id="name" />
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Book Name Error</div>
  <br/>

  <label for="author">Enter Author Name: </label>
  <input type="text" th:field="*{author}" id="author" />
  <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Name Error</div>
  <br/>

  <label for="year">Enter Year of Publication: </label>
  <input type="text" th:field="*{year}" id="year" />
  <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year of Publication Error</div>
  <br/>

  <input type="submit" value="Create!" />
</form>

</body>
</html>
